.left
  = render 'groups/groupindex'
.right
  .groupinfo
    .groupinfo__name
      = @group.name
    .groupinfo__member
      member1,menber2
    .groupinfo__btn
      = link_to "Edit", edit_group_path(@group.id)
  .message
    .message__user
      member1
      %span.message__date
        2017/08/10 00:00:00
    .message__text
      暇暇
  .postform
    = form_for [@group,@message] do |f|
      = f.text_field :content, class: "postform__post--text", placeholder: "type massages"
      %label.postform__post--img
        = f.file_field :img, class: "postform__post--img", style: "display:none;"
        %i.fa.fa-image
      = f.submit :Send, class: "postform__send"
