.left
  .user
    .user__name
      =current_user.name
  .user__icon
    .user__icon--left
      =link_to fa_icon("pencil-square-o"),new_group_path
    .user__icon--right
      =link_to fa_icon("cog"),edit_user_path(current_user)
  = render partial: "groups/group", collection: @groups
.right
  .groupinfo
    .groupinfo__name
      = @group.name
    .groupinfo__member
      - @members.each do |member|
        = member.name
    .groupinfo__btn
      = link_to "Edit", edit_group_path(@group)

  .message
    - @group.messages.each do |message|
      .message__user
        = message.user.name
        %span.message__date
          = date(message)
      .message__text
        = message.content
        = image_tag message.img.url if message.img.present?

  .postform
    = form_for [@group,@message] do |f|
      = f.text_field :content, class: "postform__post--text", placeholder: "type massages"
      %label.postform__post--img
        = f.file_field :img, class: "postform__post--img", style: "display:none;"
        %i.fa.fa-image
      = f.submit :Send, class: "postform__send"
