.left
  = render partial: 'groups/groupindex', locals:{messages: @group.messages}
.right
  .groupinfo
    .groupinfo__name
      = @group.name
    .groupinfo__member
      - @members.each do |member|
        = member.name
    .groupinfo__btn
      = link_to "Edit", edit_group_path(@group.id)

  .message
    = render 'messages/messages'

  .postform
    = form_for [@group,@message] do |f|
      = f.text_field :content, class: "postform__post--text", placeholder: "type massages"
      %label.postform__post--img
        = f.file_field :img, class: "postform__post--img", style: "display:none;"
        %i.fa.fa-image
      = f.submit :Send, class: "postform__send"
