= form_for @group do |f|
  .form__errors
    %h2
      = "#{@group.errors.count}件のエラーがあります。"
      -@group.errors.messages.each do |error|
        %li
          =error

      .form__field--right
    .form__field.clearfix
      .form__field--left
        = f.label :name, "グループ名", {class: 'form__label'}
      .form__field--right
        = f.text_field :name, {class: "form__input", placeholder: "グループ名を入力してください"}
    .form__field.clerfix
      .form__field--left
        = f.label :name, "チャットメンバー", {class: "chat_group_name"}
      .form__field--right
        .check_box
          = f.collection_check_boxes(:user_ids, User.all, :id, :name)
    .form__field.clerfix
      .form__field--left
      .form__field--right
        = f.submit '登録する', class: "form__action-btn"
